<h1 class="text-center m-5">Volunteer Opportunities</h1>

<%# Search Form %>
<%= form_with(scope: :search, url: tasks_path, method: 'get', local: true, class: "form-group form-row") do |f| %>
  <%= f.text_field :title, class: 'form-control col', placeholder: 'Search by Name'  %>
  <%= f.submit 'Search'%>
<% end %>

<%= form_with(scope: :search, url: tasks_path, method: 'get', local: true, class: "form-group form-row") do |f| %>
  <%= f.collection_select :skills, Skill.all, :id, :name, {}, { multiple: true,  class: "form-control col"} %>
  <%= f.submit 'Search' %>
<% end %>

<%# Display each task in a horizontal card  %>
<% @sorted_tasks = @tasks.sort_by { |n| n[:date]} %>
<% @sorted_tasks.each do |task| %>
  <div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag image_for(task), class: 'card-img' %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= task.title %></h5>
          <p class="card-text"><%= task.summary %></p>
          <p class="card-text"><%= task.address.street_add %>, <%= task.address.suburb.capitalize %>, <%= task.address.state.capitalize %></p>
          <% task.skills.each do |skill| %>
            <%= skill.name %>
          <% end %>
          <div class="date-time-containter">
            <p class="card-text text-muted"><%= task.date.to_formatted_s(:rfc822) %></p>
            <p class="card-text text-muted"><%= task.hours %> hours</p>
          </div>
          <%= link_to 'Tell me more!', task, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

 