<h1 class="text-center m-5">Volunteer Opportunities</h1>

<%# Search Form %>
<%= form_with(scope: :search, url: tasks_path, method: 'get', local: true, class: "form-group form-row") do |f| %>
  <%= f.text_field :title, class: 'form-control col', placeholder: 'Search by Name'  %>
  <%= f.submit 'Search'%>
<% end %>

<%= form_with(scope: :search, url: tasks_path, method: 'get', local: true, class: "form-group form-row") do |f| %>
  <%= f.collection_select :skills, Skill.all, :id, :name, {}, { multiple: true,  class: "form-control col"} %>
  <%= f.submit 'Search' %>
<% end %>

<%# Display each task in a horizontal card  %>
<% @sorted_tasks = @tasks.sort_by { |n| n[:date]} %>
<% @sorted_tasks.each do |task| %>
  <%= render 'index_card', task: task %>
<% end %>

 