<h1 class="text-center m-5"><%= @task.title %></h1>
  
<%= link_to '< Back', tasks_path, class: "btn btn-outline-secondary btn-sm m-2" %>
<% if can? :edit, @task %>
  <%= link_to 'Edit', tasks_path, 'data-toggle' => "modal", 'data-target' => "#myModal", class: "btn show-btn btn-secondary btn-sm" %>
  <%= render 'modal', modal: @task %>
  <%= link_to 'Delete', task_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn show-btn btn-secondary btn-sm" %>
<% end %>

<div class="card mb-3 m-2">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag image_for(@task), class: 'card-img m-2' %>
    </div>
    <div class="col-md-8">
      <h5 class="card-title m-2"><%= @task.charity.name %></h5>
      <h5 class="card-title"><%= @task.date.to_formatted_s(:rfc822)  %></h5>
      <p class="card-text"><%= @task.summary %></p>
      <p class="card-text"><%= @task.address.street_add %>, <%= @task.address.suburb.capitalize %>, <%= @task.address.state.capitalize %></p>
      <p class="card-text">Approximate time committment: <%= @task.hours %> hours</p>
    </div>
  </div>    
  <div class="card-body">
    <strong>About the request:</strong>
    <p class="card-text"><%= @task.description %></p>
    <p class="card-text"> Skills required: </p>
    <ul>
      <% @task.skills.each do |skill| %>
        <li><%= skill.name %></li>
      <% end %>
    </ul>
      <br>

      <%# If the user is not the one who created the task AND
      <%# - has not already expresssed interest - show button OR
      <%# - expressed interest - thank them %>
      <% unless @task.user_id == current_user.id %>
        <% if Interest.find_by(task_id: @task.id, user_id: current_user.id) == nil %>
          <%= link_to "I'm Interested", save_path, class: "btn btn-secondary btn-lg m-2" %>
        <% elsif Interest.find_by(task_id: @task.id, user_id: current_user.id).present? %>
          <strong>Thanks for expressing your interest in this opportunity!</strong>
          <br>
        <% end %>
      <% end %>
      <br>

      <%# Map %>
      <div style="height: 400px" id="map"></div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">About <%= @task.charity.name %>:</h5>
      <p class="card-text"><%= @task.charity.description %></p>
    </div>
  </div>
  <%= link_to '< Back', tasks_path, class: "btn btn-outline-secondary btn-sm m-2" %>
  </div>
</div>

<%= javascript_pack_tag "leaflet/show" %>

