<% @sorted_interest = to_display.sort_by { |n| n[:date]} %>
<% @sorted_interest.each do |i| %>
  <div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag image_for(i.task), class: 'card-img' %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= i.task.title %></h5>
          <p class="card-text"><%= i.task.summary %></p>
          <p class="card-text"><%= i.task.address.street_add %>, <%= i.task.address.suburb.capitalize %></p>
          <div class="date-time-containter">
            <p class="card-text text-muted"><%= i.task.date.to_formatted_s(:rfc822) %></p>
            <p class="card-text text-muted"><%= i.task.hours %> hours</p>
          </div>
          <%= link_to 'Details', i.task, class: "btn btn-outline-secondary" %>
          <%= link_to 'Delete from my list', i, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary"  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
