<h1 class="text-center m-5">Charities + Community Groups</h1>
<% if can? :create, Charity %>
  <%= link_to "Add Your Organisation", new_charity_path, class: "btn btn-secondary btn-lg m-2"  %>
<% else %>
  <p>Want to register an organisation or your involvement with one? Contact us!</p>
<% end %>

<% if @charities %>
  <% @charities.each do |charity| %>
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag charity_image_for(charity), class: 'card-img'  %> 
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= charity.name %></h5>
            <p class="card-text"><%= charity.charity_kind.name %></p>
            <%= link_to "Details", charity, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h4>There are no charities registered yet.</h4>
<% end %>


  