<h1 class="text-center m-5"><%= @charity.name %></h1>
  
<%= link_to '< Back', charities_path, class: "btn btn-outline-secondary btn-sm m-2" %>
<% if can? :edit, @charity %>
  <%= link_to 'Edit', charities_path, 'data-toggle' => "modal", 'data-target' => "#myModal", class: "btn show-btn btn-secondary btn-sm" %>
  <%= render 'modal', modal: @charity %>
  <%= link_to 'Delete', charity_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn show-btn btn-secondary btn-sm" %>
<% end %>

<div class="row">
    <div class="col-md-4">
      <%= image_tag charity_image_for(@charity), class: 'card-img m-2' %>
    </div>
    <div class="col-md-8">
      <p>
        <strong>Description:</strong>
        <%= @charity.description %>
      </p>
      
<!-- Button trigger modal -->
<%= render 'modal', modal: @charity %>
