<h1>Charities</h1>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @charity.charity_kind.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charity.description %>
</p>

  <% if @charity.image.attached? %>
    <%= image_tag @charity.image %>
  <% end %>

<%= link_to 'Back', charities_path %>
<%= link_to 'Edit', charities_path, 'data-toggle' => "modal", 'data-target' => "#charityModal" %>

<!-- Button trigger modal -->
<%= render 'modal', modal: @charity %>
