<!DOCTYPE html>
<html>
  <%= render 'head' %>
  <body>
    <%= render 'navbar' %>
      <div class="row p-0 m-0 min-vh-100">
        <nav class="col-md-3 d-none d-md-block sidebar" id="mysidebar">
          <%= render 'sidebar' %>
        </nav>
        <div class="col-md-9 ml-sm-auto">
          <%= render 'flash_message' %>
          <%= yield %>
        </div>
    </div> 
  </body>
</html>
