<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Hours</th>
      <th>Charity</th>
      <th>Image?</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>

    <% sorted_tasks = tasks_to_list.sort_by { |d| d.date }%>
    <% sorted_tasks.each do |task| %>
      <tr>
        <td><%= task.date.to_formatted_s(:rfc822) %></td>
        <td><%= task.title %></td>
        <td><%= task.hours %></td>
        <td><%= task.charity.name %></td>
        <td>
          <% if task.image.attached? %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
        <td><%= link_to 'Interest', my_request_path(task) %></td>
        <td><%= link_to 'Details', task %></td>
      </tr>
    <% end %>
  </tbody>
</table>
